@font-face {
    font-family: 'LaurenScript';
    src: font-url('laurenscript.eot');
    src: font-url('laurenscript.eot?#iefix') format('embedded-opentype'), font-url('laurenscript.woff') format('woff'), font-url('laurenscript.ttf') format('truetype'), font-url('laurenscript.svg#laurenscriptregular') format('svg');
    font-weight: normal;
    font-style: normal; }

.lauren {
  font-family: 'LaurenScript';
}