html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

.overlay {
  font-family: Georgia;
  visibility: hidden;
  position: fixed;
  top:0px;
  right:0px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,.8);
  z-index: 999;

  overflow: scroll;
}

.georgia {
  font-family: Georgia;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
}

.new_location {
  width: 400px;
}

.logo {
  position: fixed;
  top: 40px;
  left: 90px;
}

.top-bar {
  list-style: none;
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -320px;
}
.top-bar li {
    float:left;
}
.top-bar li, .top-bar li a{
    width:150px;
    height:100px;
}
li a:hover {
  color: rgba(0,0,0,0);
}

.left-bar {
  list-style: none;
  position: fixed;
  top: 30%;
  left: 80px;
}

.search {
  position: fixed;
  top: 50px;
  right: 10%;
  width: 270px;
}
.search-icon {
  cursor: pointer;
}
.tt-suggestion {
  background: white;
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 3px;
  width: auto;
}
.twitter-typeahead {
  float: right;
}

.hidden {
  visibility: hidden;
}

.menu-icon {
  width: 90px;
  height: 90px;
}

.story {
  width: 50%;
  margin: 50px auto 100px auto;
}

.story-text {
  padding: 40px;
  color: white;
}

.close-story {
  float: right;
  margin-right: 40px;
  color: white;
  text-decoration: none;
  font-size: 30px;
}
.close-story:visited {
  color: white;
}


.nav>li>a {
  font-size: 20px;  
  color: white;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: rgba(0,0,0,.5);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: rgba(0,0,0,.5);
}


.info-window {
  color: white;
  background-image: url(image_path('ink.png'));
  width: 277px;
  height: 224px;
  text-align: center;
  a.open-story {
    color:white;
    text-align: center;
    line-height: 224px;
  }
}

.splash {
  background: url(image_path('splash.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}