#map
%a{:href => '#'}
  =image_tag 'litography.png', :class => 'logo'
.overlay
  .story
    %a{:href => '#', :class => 'close-story'} X
    .story-text

%ul.top-bar.menu-bar
  %li
    %a.person{:href => '#'}
      =image_tag 'location/person-orange.png', :class => 'menu-icon active'
  %li
    %a.place{:href => '#'}
      =image_tag 'location/place-orange.png', :class => 'menu-icon active'
  %li
    %a.event{:href => '#'}
      =image_tag 'location/event-orange.png', :class => 'menu-icon active'
  %li
    %a.other{:href => '#'}
      =image_tag 'location/other-orange.png', :class => 'menu-icon active'
%ul.left-bar.menu-bar
  %li
    %a.audio{:href => '#'}
      =image_tag 'location/audio-orange.png', :class => 'menu-icon active'
  %li
    %a.multimedia{:href => '#'}
      =image_tag 'location/multimedia-orange.png', :class => 'menu-icon active'
  %li
    %a.visual{:href => '#'}
      =image_tag 'location/visual-orange.png', :class => 'menu-icon active'

:coffee
  menuURLs = #{@menuURLs}

  $(".menu-bar").mouseenter ->
    $(".menu-icon").not(".active").each ->
      this.src = menuURLs[$(this).parent().attr('class')+'-text']

  $(".menu-bar").mouseleave ->
    $(".menu-icon").not(".active").each ->
      this.src = menuURLs[$(this).parent().attr('class')+'-notext']

  $(".menu-icon").mouseenter ->
    if $(this).hasClass("active")
      this.src = menuURLs[$(this).parent().attr('class')+'-text']
    else
      this.src = menuURLs[$(this).parent().attr('class')+'-orange']

  $(".menu-icon").mouseleave ->
    if $(this).hasClass("active")
      this.src = menuURLs[$(this).parent().attr('class')+'-orange']
    else
      this.src = menuURLs[$(this).parent().attr('class')+'-text']

  $(".menu-icon.active").click (e)->
    e.preventDefault()
    $(this).toggleClass("active")
    false


  class InfoBoxBuilder extends Gmaps.Google.Builders.Marker # inherit from base builder
    # override method
    create_infowindow: ->
      return null unless _.isString @args.infowindow

      boxText = document.createElement("div")
      boxText.setAttribute("class", 'info-window') #to customize
      boxText.innerHTML = @args.infowindow
      $(boxText).on 'click', (e)->
        e.preventDefault()
        $(".overlay").css "visibility", "visible"
        stories = $(e.target).attr("data-stories").split(",")
        tabsHTML = "<ul class=\"nav nav-tabs\">"
        tabsContentHTML = "<div class=\"tab-content\">"
        for story of stories
          unless story is '0'
            tabsHTML += "<li><a href=\"#" + (parseInt(story) + 1) + "\" data-toggle=\"tab\">" + (parseInt(story) + 1) + "</a></li>"
            tabsContentHTML += "<div class=\"tab-pane " + stories[story] + "\" id=\"" + (parseInt(story) + 1) + "\"></div>"
          else
            console.log(story)
            tabsHTML += "<li class=\"active\"><a href=\"#" + (parseInt(story) + 1) + "\" data-toggle=\"tab\">" + (parseInt(story) + 1) + "</a></li>"
            tabsContentHTML += "<div class=\"tab-pane active " + stories[story] + "\" id=\"" + (parseInt(story) + 1) + "\"></div>"
        tabsHTML += "</ul>"
        tabsContentHTML += "</div>"
        $(".story-text").html tabsHTML + tabsContentHTML
        for story of stories
          $.get "/stories/" + stories[story] + ".json", (data) ->
            $("div.tab-pane." + data.id).html data.story_text

        false

      @infowindow = new InfoBox(@infobox(boxText))

      # add @bind_infowindow() for < 2.1

    infobox: (boxText)->
      content: boxText
      pixelOffset: new google.maps.Size(-140, 0)
      boxStyle:
        width: "280px"

  litMap = Gmaps.build 'Google', { builders: { Marker: InfoBoxBuilder} }

  mapStyles = [
    elementType: "labels"
    stylers: [visibility: "off"]
  ,
    featureType: "water"
    stylers: [color: "#b4dedd"]
  ,
    featureType: "road.highway"
    stylers: [visibility: "off"]
  ,
    featureType: "road"
    stylers: [color: "#b4dedd"]
  ,
    featureType: "landscape"
    stylers: [color: "#fcf8f5"]
  ,
    featureType: "administrative"
    stylers: [visibility: "off"]
  ,
    featureType: "poi"
    stylers: [visibility: "off"]
  ,
    featureType: "transit"
    stylers: [visibility: "off"]
  ,
    featureType: "road.arterial"
    stylers: [weight: 0.5]
  ]

  markers = undefined
  litMap.buildMap
    provider:
      styles: mapStyles
      center: new google.maps.LatLng(37.776414, -122.436157)
      zoom: 13
      minZoom: 13
      mapTypeControl: false
      panControlOptions:
        position: google.maps.ControlPosition.TOP_RIGHT

      streetViewControlOptions:
        position: google.maps.ControlPosition.TOP_RIGHT

      zoomControlOptions:
        position: google.maps.ControlPosition.TOP_RIGHT

    internal:
      id: "map"
  , ->
    markers = #{raw @locationMarkers.to_json}
    litMap.addMarkers markers
    mapObj = litMap.getMap()
    #bottom left
    bounds = new google.maps.LatLngBounds(new google.maps.LatLng(37.678794, -122.618263), new google.maps.LatLng(37.841512, -122.345864)) #top right
    google.maps.event.addListener mapObj, "dragend", ->
      return  if bounds.contains(mapObj.getCenter())
      c = mapObj.getCenter()
      x = c.lng()
      y = c.lat()
      maxX = bounds.getNorthEast().lng()
      maxY = bounds.getNorthEast().lat()
      minX = bounds.getSouthWest().lng()
      minY = bounds.getSouthWest().lat()
      x = minX  if x < minX
      x = maxX  if x > maxX
      y = minY  if y < minY
      y = maxY  if y > maxY
      mapObj.setCenter new google.maps.LatLng(y, x)

  $("body").on "click", ".close-story", (e) ->
    e.preventDefault()
    $(".overlay").css "visibility", "hidden"
    $(".story-text").html ""
    false