#map
%a{:href => '#'}
  =image_tag 'litography.png', :class => 'logo'
.overlay
  .story
    %a{:href => '#', :class => 'close-story'} x
    .story-text 

%ul.top-bar
  %li
    %a.person.active{:href => '#'}
      =image_tag 'location/person-notext.png', :class => 'menu-icon'
  %li
    %a.place.active{:href => '#'}
      =image_tag 'location/place-notext.png', :class => 'menu-icon'
  %li
    %a.event.active{:href => '#'}
      =image_tag 'location/event-notext.png', :class => 'menu-icon'
  %li
    %a.other.active{:href => '#'}
      =image_tag 'location/other-notext.png', :class => 'menu-icon'
%ul.left-bar
  %li
    %a.audio.active{:href => '#'}
      =image_tag 'location/audio-notext.png', :class => 'menu-icon'
  %li
    %a.multimedia.active{:href => '#'}
      =image_tag 'location/multimedia-notext.png', :class => 'menu-icon'
  %li
    %a.visual.active{:href => '#'}
      =image_tag 'location/visual-notext.png', :class => 'menu-icon'

:javascript
  $('.menu-icon').mouseenter(function() {
    $('.menu-icon').each(function(){
      this.src = this.src.replace('notext', 'text');
    });
  });

  $('.menu-icon').mouseleave(function() {
    $('.menu-icon').each(function(){
      this.src = this.src.replace('text', 'notext');
    });
  });

  litMap = Gmaps.build('Google');

  var mapStyles = 
  [
    {
      "elementType": "labels",
      "stylers": [
        { "visibility": "off" }
      ]
    },{
      "featureType": "water",
      "stylers": [
        { "color": "#b4dedd" }
      ]
    },{
      "featureType": "road.highway",
      "stylers": [
        { "visibility": "off" }
      ]
    },{
      "featureType": "road",
      "stylers": [
        { "color": "#b4dedd" }
      ]
    },{
      "featureType": "landscape",
      "stylers": [
        { "color": "#fcf8f5" }
      ]
    },{
      "featureType": "administrative",
      "stylers": [
        { "visibility": "off" }
      ]
    },{
      "featureType": "poi",
      "stylers": [
        { "visibility": "off" }
      ]
    },{
      "featureType": "transit",
      "stylers": [
        { "visibility": "off" }
      ]
    },{
      "featureType": "road.arterial",
      "stylers": [
        { "weight": 0.5 }
      ]
    }
  ];


  litMap.buildMap({ 
    provider: {
      styles: mapStyles,
      center: new google.maps.LatLng( 37.776414, -122.436157 ),
      zoom: 13,
      minZoom: 13,
      mapTypeControl: false,
      panControlOptions: { position: google.maps.ControlPosition.TOP_RIGHT },
      streetViewControlOptions: { position: google.maps.ControlPosition.TOP_RIGHT },
      zoomControlOptions: { position: google.maps.ControlPosition.TOP_RIGHT },

    }, 
    internal: {id: 'map'}}, 
    function(){
      var markers = litMap.addMarkers(#{raw @locationMarkers.to_json});

      var mapObj = litMap.getMap()


      var bounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(37.678794,-122.618263),  //bottom left
        new google.maps.LatLng(37.841512,-122.345864)   //top right
      );

      google.maps.event.addListener(mapObj, 'dragend', function() {
        if (bounds.contains(mapObj.getCenter())) return;
        
        var c = mapObj.getCenter(),
          x = c.lng(),
          y = c.lat(),
          maxX = bounds.getNorthEast().lng(),
          maxY = bounds.getNorthEast().lat(),
          minX = bounds.getSouthWest().lng(),
          minY = bounds.getSouthWest().lat();

         if (x < minX) x = minX;
         if (x > maxX) x = maxX;
         if (y < minY) y = minY;
         if (y > maxY) y = maxY;

         mapObj.setCenter(new google.maps.LatLng(y, x));
      });
    });


  $('body').on('click', '.open-story', function(e) {
    e.preventDefault();
    $('.overlay').css('visibility', 'visible');
    $('.story-text').html("#{j @stories[0].story_text}");
    return false;
  });
  $('body').on('click', '.close-story', function(e) {
    e.preventDefault();
    $('.overlay').css('visibility', 'hidden');
    $('.story-text').html("");
    return false;
  });